# Node / web
node_modules/
dist/
build/
.out/
.next/
.vite/
.parcel-cache/
.turbo/
coverage/
*.log
.eslintcache

# Env & tooling
.env*
*.local
.vercel/
.netlify/
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Generated assets
*.map
